.body{
    width: 900px;
    background-color: #f6eec9;
    margin:0 auto;
  }

  li {
    list-style-type: none; 
 }
 li:before {
    color: red; 
    content: "•"; 
    padding-right: 10px
 }

 blockquote{
    margin: 0;
    background: rgb(255, 223, 164);
    color: #693800;
    padding: 15px 30px;
    position: relative;
    border-left: 35px solid #693800;
}

.text_p{
    text-indent: 20px;
}

.first_image {
    height: 200px;
    width: 200px; 
}

.second_image{
    height: 550px;
    width: 900px;
    border: 2px solid #084600;
}

.cat_table{
    border: 1px solid black; 
    background-color: #ffbf8b;
    margin:10px auto;
}

.image_with_html{
    height: 400px;
    width: 500px;
}

.image_study_cat
{
    height: 400px;
    width: 500px;
}

.image_on_grass
{
    height: 400px;
    width: 600px;
}

.main_div{
    height:150px;
}

.first_div{
    width:150px;
    float:left;
}

.second_div{
    margin-right:150px;
    line-height:150px;
    vertical-align: middle;
}

.author_photo{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}